<section id='top'>
<div id='video_container'>
<div id='video_parts'>
<span class='sankaku1'></span>
<span class='title'><%= image_tag "/logo.png"%></span>
<span class='sankaku2'></span>

</div>
<iframe width="560" height="315" class='pc'src="https://www.youtube.com/embed/YR31jv-AtMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<%= image_tag "/geek.gif"%>
</div>
<div id='top_container'>
 <div v-on:click="getranking" class="btn-real-dent">
<%= image_tag "/geekbig.png"%>
</div>
<a>労働時間ランキング</a>

</div>
<section id="ranking" v-show='ranking'>
<span  v-on:click="ranking = !ranking">
<div v-for='(rankdata,index) in rankdatas'>
    <h3>第{{ index + 1 }}位：{{ rankdata.who}}&nbsp;さん {{ rankdata.totalhour}}時間  {{rankdata.totalminutes}}分</h3>
</div>

</section>
</section>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script>
var app = new Vue({
    el: "#top",
    data: {
   ranking: false,
   rankdatas: []
    },

    methods: {
        getranking: function(){
            self = this;
            
            self.ranking = !self.ranking;
        var href2 = '/getrank.json';
         axios.get(href2)
         .then(function(res){
        self.rankdatas = res.data.rankdatas;
          
      })
      .catch(function(err){
        window.alert(err)
      })
 
    }
    }
});

</script>