<section id='top'>
<div id='video_container'>
<div id='video_parts'>
<span class='sankaku1'></span>
<span class='title'><%= image_tag "/logo.png"%></span>
<span class='sankaku2'></span>

</div>
<iframe width="560" height="315" class='pc'src="https://www.youtube.com/embed/YR31jv-AtMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<%= image_tag "/geek.gif"%>
</div>
<div id='top_container'>

</div>
</section>
