@media screen and  ( max-width:768px){ 
    #top{
        width: 100%;
        #video_container{
            width: 100%;
            position: relative;
          
            z-index: 2;
            margin: 0;
            padding:0;
               img{
                    display: block;
                    width: 100%;
                    height:250px;
                }
            #video_parts{
                width: 100%;
                height:250px;
                position: absolute;
                z-index: 3;
                top: 0;
                left:0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            .sankaku1{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 250px 100px 0 0;
                border-color: #000000 transparent transparent transparent;
            }
            .sankaku2{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 250px 100px;
                border-color: transparent transparent #000000 transparent;
            }
            .title{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                img{
                    display: inline-block;
                   width: 80%;
                   height: auto;
                   margin: 0 auto;
                }
            }
        }
            .pc{
                display: none;
            }
          
        }
     
        #top_container{
            width: 100%;
            background: #87DFD3; 
           
            .btn-real-dent {
                /*周りの凹み*/
                display: flex;
                margin: 0 auto;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                text-decoration: none;
                color: rgba(3, 169, 244, 0.54);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
      
              }
              img{
                  display: inline-block;
                  width: 60%;
                  height: auto;
                  border-radius: 50%;
                  box-shadow: rgba(0,0,0,0.2) 0 0 20px 20px;

              }
              
              .btn-real-dent .fa:active {
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
                border-bottom: solid 2px #d8d8d8;
              }
        }
        #ranking.cross{
            display: block;
            width:100%;
            height: 100vh;
            position: absolute;
            top:0;
            left:0;
            background: rgba(135, 223, 211,0.8);
            z-index: 2;
            animation: fadeIn .5s ease 0s 1 normal;
          
              
        }
        #ranking.start{
         display: none;
        }
        #ranking.nocross{
            display: block;
            width:100%;
            height: 100vh;
            position: absolute;
            top:-1000px;
            left:0;
            background: rgba(135, 223, 211,0.8);
            z-index: 2;
            animation: fadeOut .5s ease 0s 1 normal;
          
        }
        #cross_base{
            position: relative;
            width: 100%;
        #cross{
            position: absolute;
            top:20px;
            right:20px;
            opacity: 1;
            color:rgba(255,255,255,0.8);
            animation: fadeInCross 1s ease 0s 1 normal;
        }
    }
        @keyframes fadeInCross {
            0%{
                opacity: 0;
            }
            75% {
                opacity: 0;

                }
            100%{
                opacity: 1;
               
            }
        }
        @keyframes fadeIn {
            0% {opacity: 0;
                background: rgba(135, 223, 211,0);
                transform:translate(0,-1000px) ;
                }
        
            100%{
                opacity: 1;
                background: rgba(135, 223, 211,0.8);
                 transform:translate(0,0) ;
               
            }
        }
        @keyframes fadeOut {
            0% {
                background: rgba(135, 223, 211,0.8);
                transform:translate(0,1000px) ;
                }
            100%{
        
                 background: rgba(135, 223, 211,0);
                 transform:translate(0,0) ;
               
            }
        }
    }



}
@media screen and (min-width:768px) and ( max-width:1024px) {
    header{
        width: 100%;
        height: 100px;
        background:blue;
    }
}
@media screen and (min-width:1024px) {
  
    #top{
        width: 100%;
        height: 100vh;
        background: #87DFD3; 
        #video_container{
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            margin: 0;
            padding:0;
            .pc{
                display: block;
            }
            img{
                display: none;
            }
            .youtube{
                display: inline-block;
                width: 100%;
                 height: 100vh;
                margin: 0;
                padding:0;
            }
        }
     
        #top_container{
         
        }
    }

}


    
    
    