@media screen and  ( max-width:768px){ 
    #top{
        width: 100%;
        #video_container{
            width: 100%;
            position: relative;
          
            z-index: 2;
            margin: 0;
            padding:0;
               img{
                    display: block;
                    width: 100%;
                    height:250px;
                }
            #video_parts{
                width: 100%;
                height:250px;
                position: absolute;
                z-index: 3;
                top: 0;
                left:0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            .sankaku1{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 250px 100px 0 0;
                border-color: #000000 transparent transparent transparent;
            }
            .sankaku2{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 250px 100px;
                border-color: transparent transparent #000000 transparent;
            }
            .title{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                img{
                    display: inline-block;
                   width: 80%;
                   height: auto;
                   margin: 0 auto;
                }
            }
        }
            .pc{
                display: none;
            }
          
        }
     
        #top_container{
            width: 100%;
            background: #87DFD3; 
        }
    }



}
@media screen and (min-width:768px) and ( max-width:1024px) {
    header{
        width: 100%;
        height: 100px;
        background:blue;
    }
}
@media screen and (min-width:1024px) {
  
    #top{
        width: 100%;
        height: 100vh;
        background: #87DFD3; 
        #video_container{
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            margin: 0;
            padding:0;
            .pc{
                display: block;
            }
            img{
                display: none;
            }
            .youtube{
                display: inline-block;
                width: 100%;
                 height: 100vh;
                margin: 0;
                padding:0;
            }
        }
     
        #top_container{
         
        }
    }

}


    
    
    